body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: #fff;
  color: #fff;
}
.image {
  width: 150px !important;
  height: 150px !important;
  margin-left: 210px !important;
  margin-top: -270px !important;
}
form {
  background-color: #fff;
  background-size: cover;
  margin-left: -5px;
  margin-top: -150px;
  width: 330px;
  height: 1000px;
  border: 1px solid black;
  border-radius: 15px;
}
.isi {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
}
#daftar {
  width: 330px !important;
  position: relative;
  margin-left: 10px !important;
  height: 45px;
}
.nama {
  margin-bottom: 0px;
  font-size: 15px;
  color: #000;
}
.email {
  margin-bottom: 0px;
  font-size: 15px;
  color: #000;
}
.kota {
  margin-bottom: 0px;
  font-size: 15px;
  color: #000;
}
.number {
  margin-bottom: 0px;
  font-size: 15px;
  color: #000;
}
.coba {
  margin-bottom: 0px;
  font-size: 15px;
  color: #000;
}
.akun {
  margin-top: 0px;
  font-size: 15px;
  color: #000;
}
.jumlah {
  margin-top: 0px;
  font-size: 15px;
  color: #000;
}
.video {
  margin-top: 50px;
  width: 330px;
  margin-left: -0px;
}

.textvideo {
  text-align: center;
  margin-top: 20px;
  margin-left: -0px;
  color: #000;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-weight: bold;
}
.textvideo1 {
  margin-left: -0px;
  margin-top: 10px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.tentang {
  margin-top: 0px;
  font-size: 15px;
  color: #000;
}
.color {
  width: 381px !important;
  margin-left: -20px;
  margin-top: 0x;
  height: 500px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}
.container {
  margin-top: -300px;
}
.image {
  width: 450px;
  height: 350px;
  margin-left: 720px;
  margin-top: -650px;
}
.fa-solid {
  color: #d82d40;
  font-size: 15px;
  margin-right: 15px;
}
.text1 {
  margin-top: -300px !important;
  font-size: 15px;
  margin-left: -10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text2 {
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text3 {
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.ratus {
  color: #d82d40;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 5);
}
.rese {
  color: #d82d40;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 5);
}
.text4 {
  margin-top: 15px;
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text5 {
  margin-top: 0px;
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text6 {
  margin-top: 0px;
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text61 {
  margin-top: -7px;
  margin-left: 20px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text7 {
  margin-top: 0px;
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text71 {
  margin-top: -7px;
  margin-left: 20px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text8 {
  margin-top: 0px;
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
.text9 {
  margin-top: 0px;
  margin-left: -10px;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  font-weight: bolder;
}
a {
  color: #fff;
}
.input-container {
  width: 300px;
  position: relative;
  margin-left: 14px;
}

.label {
  position: absolute;
  left: 10px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #6d6d6d;
}
.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  background: #fff;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: #000;
}

.label::before {
  content: "";
  height: 5px;
  background: #fff;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 2px solid #000;
}

.text-input:focus + .label,
.filled {
  top: -10px;
  color: #000;
  font-size: 16px;
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}
.text-input:focus::placeholder {
  opacity: 1;
}
#daftar {
  width: 300px !important;
  height: 45px;
  position: relative;
  margin-left: 14px !important;
}
@media (min-width: 992px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #fff;
  }
  .color {
    width: 1348px !important;
    margin-left: -0px;
    height: 1000px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .container {
    margin-top: -1300px;
  }
  .image {
    width: 450px !important;
    height: 350px !important;
    margin-left: 720px !important;
    margin-top: -650px !important;
  }
  .fa-solid {
    color: #d82d40;
    font-size: 30px;
    margin-right: 15px;
  }
  .text1 {
    margin-top: 130px !important;
    font-size: 30px;
    margin-left: -50px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text2 {
    margin-left: -50px;
    font-size: 30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text3 {
    margin-left: -50px;
    font-size: 30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .ratus {
    color: #d82d40;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  }
  .rese {
    color: #d82d40;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
  }
  .text4 {
    margin-top: 40px;
    font-size: 30px;
    margin-left: -30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text5 {
    margin-top: 30px !important;
    font-size: 30px;
    margin-left: -30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text6 {
    margin-top: 30px;
    font-size: 30px;
    margin-left: -30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text7 {
    margin-top: 30px;
    font-size: 30px;
    margin-left: -30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text71 {
    margin-top: 0px;
    font-size: 30px;
    margin-left: 15px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text8 {
    margin-top: 30px;
    font-size: 30px;
    margin-left: -30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  .text9 {
    margin-top: 30px !important;
    font-size: 30px;
    margin-left: -30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 5);
    font-weight: bolder;
  }
  a {
    color: #fff;
  }
  form {
    background-color: #fff;
    background-size: cover;
    margin-left: 0px;
    margin-top: -250px;
    width: 1200px;
    height: 1130px;
    border: 2px solid black;
    border-radius: 30px;
  }
  .video {
    margin-left: 0px;
    margin-top: 50px;
    width: 800px;
  }
  .textvideo {
    margin-left: 0px;
    margin-top: 50px;
    color: #000;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: bold;
  }
  .textvideo1 {
    margin-left: 0px;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
  .isi {
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #000;
  }
  .input-container {
    width: 1130px;
    position: relative;
    margin-left: 30px;
  }

  .label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #6d6d6d;
  }
  .text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    background: #fff;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #000;
  }

  .label::before {
    content: "";
    height: 5px;
    background: #fff;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
  }

  .text-input:focus {
    border: 2px solid #000;
  }

  .text-input:focus + .label,
  .filled {
    top: -10px;
    color: #000;
    font-size: 16px;
  }

  .text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
  }
  .text-input:focus::placeholder {
    opacity: 1;
  }
  #daftar {
    width: 1130px !important;
    height: 45px !important;
    position: relative;
    margin-left: 30px !important;
  }
  .nama {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
  }
  .email {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
  }
  .kota {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
  }
  .number {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
  }
  .coba {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
  }
  .akun {
    margin-top: 10px;
    font-size: 20px;
    color: #000;
  }
  .jumlah {
    margin-top: 10px;
    font-size: 20px;
    color: #000;
  }
  .tentang {
    margin-top: 10px;
    font-size: 20px;
    color: #000;
  }
}
